<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos asperiores
      quas hic rem eius recusandae incidunt, suscipit necessitatibus dolorem,
      magnam fugit. Facilis corporis sed impedit est consequuntur labore
      pariatur minus.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos asperiores
      quas hic rem eius recusandae incidunt, suscipit necessitatibus dolorem,
      magnam fugit. Facilis corporis sed impedit est consequuntur labore
      pariatur minus.
    </p>
  </div>
</section>
