<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
      necessitatibus consequuntur nihil iusto beatae nam id temporibus in. Quam
      maiores, praesentium impedit veritatis, eius ex sapiente eaque dolores
      placeat ut dolore cumque! Error quidem repellendus tempore omnis deserunt
      modi iste officia nostrum hic eveniet atque, ab quis a accusantium sit?
    </p>
  </div>
</div>
