<div class="card testimonial">
  <div class="grid grid--cols-2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="Image of a smiling person" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore
        corporis minus quam quas ipsa consectetur. Enim asperiores fuga,
        recusandae atque possimus quidem ipsa dolorem numquam distinctio ex
        optio, incidunt earum?Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Voluptatem aliquam facilis quis laborum ad. Harum quisquam
        accusantium labore, facere officia nam suscipit, voluptatem nihil
        temporibus nemo odit fuga omnis deleniti! Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Reiciendis, laboriosam deleniti, sed
        distinctio doloribus reprehenderit exercitationem molestias iusto
        assumenda molestiae ipsa quasi itaque est recusandae earum numquam
        facilis obcaecati accusamus quae incidunt beatae aliquam aliquid modi?
        Qui magnam accusantium explicabo nesciunt ipsam soluta architecto
        dolores fuga libero accusamus, officia sint?
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Jhone Lumeo</h3>
            <p class="quote__organization">Vaishu CEO</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
